@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss";

.panel {
  width: 250px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  background-color: v.$darkGray;
  transition: all 0.3s linear;

  @include mixins.breakpoint(650) {
    align-items: center;
    padding: 5px;
    width: 50px;
  }

  &__burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -30px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: v.$darkGray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    @include mixins.breakpoint(650) {
      top: 10px;
      right: -25px;
      width: 25px;
      height: 25px;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}

.hide-panel {
  transform: translate(-100%);
}
