@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss";

.panel {
  width: 250px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  background-color: v.$darkGray;
  transition: all 0.3s linear;

  @include mixins.breakpoint(650) {
    align-items: center;
    padding: 10px 5px;
    width: 50px;
  }

  &__btn-container {
    display: flex;
    justify-content: center;

    padding: 5px;
    @include mixins.breakpoint(650) {
      height: 100%;
      align-items: flex-end;
    }
  }
}

.hide-panel {
  transform: translate(-100%);
}
