@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss";
.photoBox {
  color: v.$white;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
  }
  // img styles here
  //  @include mixins.breakpoint(sm) {
  //     justify-content: flex-start;
  //   }
  &__container--person-img {
    @include mixins.breakpoint(md) {
      width: 100px;
      height: 100px;
    }
    @include mixins.breakpoint(600) {
      width: 70px;
      height: 70px;
    }
  }

  &__container--person-name {
    margin-top: 15px;
    @include mixins.breakpoint(600) {
      display: none;
    }
  }

  &__container--person-position {
    font-size: 25px;
    margin: 10px;
    @include mixins.breakpoint(600) {
      font-size: 20px;
    }
    @include mixins.breakpoint(sm) {
      font-size: 14px;
    }
  }

  &__container--person-description {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
