@use "../../styles/mixins.scss";
@use "../../styles/variables.scss" as v;

.info {
  padding: 15px;
  background-color: v.$gray;
  margin-left: 10px;
  margin-bottom: 30px;
  &__description {
    @include mixins.component-description;
  }
}
