@use "./variables.scss" as v;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $point == 650 {
    // 768px
    @media (max-width: 650px) {
      @content;
    }
  } @else if $point == sm {
    // 480px
    @media (max-width: 480px) {
      @content;
    }
  }
}

@mixin component-header {
  font-size: 25px;
  font-weight: v.$font-bold;
  color: v.$green;
  margin-bottom: 20px;
  @include breakpoint(sm) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@mixin component-description {
  font-size: 14px;
  font-weight: v.$font-normal;
  color: v.$darkGray;
}

@mixin component-margin-padding {
  margin: 30px;
  padding: 20px 10px;
  min-height: 250px;
  @include breakpoint(sm) {
 
     margin: 0px;
   margin-left:20px;
  }
}

