@use "./variables.scss" as v;

@mixin breakpoint($point) {
  @if $point == md {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $point == 650 {
    @media (max-width: 650px) {
      @content;
    }
  }
  @if $point == sm {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == min {
    @media (max-width: 390px) {
      @content;
    }
  }
}

@mixin component-header {
  font-size: 25px;
  font-weight: v.$font-bold;
  color: v.$green;
  margin-bottom: 20px;
  @include breakpoint(sm) {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@mixin component-description {
  font-size: 14px;
  font-weight: v.$font-normal;
  color: v.$darkGray;
}

@mixin component-margin-padding {
  margin: 30px;
  padding: 20px 10px;
  min-height: 250px;
  @include breakpoint(sm) {
    padding: 10px;
    margin: 0px;
    margin-left: 25px;
  }
}

@mixin btn-mixin {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  color: v.$white;
  border: transparent;
  background-color: v.$darkGray;

  &:hover {
    background-color: v.$green;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #667080;
    &:hover {
      background-color: #667080;
    }
  }
}
