@use "./variables.scss" as v;

@mixin component-header {
  font-size: 25px;
  font-weight: v.$font-bold;
  color: v.$green;
  margin-bottom: 20px;
}
@mixin component-description {
  font-size: 14px;
  font-weight: v.$font-normal;
  color: v.$darkGray;
}

@mixin component-margin-padding {
  margin: 20px;
  padding: 20px 10px;
}

// screen
@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $point == 600 {
    // 768px
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point == sm {
    // 480px
    @media (max-width: 480px) {
      @content;
    }
  }
}
