@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
$main-font: "Open Sans", sans-serif;

// colors
$darkGray: #222935;
$green: #26c17e;
$white: #fff;
$gray: #eee;
$gray-border: #667081;

//  font
$font-normal: 400;
$semi-bold: 600;
$font-bold: 700;

// h3 margin-bottom

$header-mb: 10px;
