@use "../../styles/mixins.scss";

.mainPage {
  display: flex;
  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 250px;
    transition: all 0.3s linear;
    @include mixins.breakpoint(650) {
      margin-left: 80px;
    }
  }
}

.no-margin {
  margin-left: 0px;
}
