@use "../../styles/mixins.scss";
@use "../../styles/variables.scss" as v;
.timeline {
  min-height: 30vh;
  max-height: 80vh;
  overflow-y: auto;
  @include mixins.component-margin-padding;
  @include mixins.breakpoint(min) {
    width: 240px;
  }

  &__list {
    position: relative;
    padding: 15px;

    &::before {
      background: v.$green;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      width: 4px;
      content: "";
      margin-left: 18px;
    }

    &--item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;

      &__date {
        padding: 15px;
        background: #fff;
        position: relative;
        left: -15px;
      }
      &__info {
        position: relative;

        &--div {
          background: v.$gray;
          padding: 15px;

          &__title {
            margin-bottom: v.$header-mb;
            @include mixins.breakpoint(min) {
              font-size: 14px;
            }
          }
          &__description {
            @include mixins.component-description;
            @include mixins.breakpoint(min) {
              font-size: 12px;
            }
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 15px;
          left: -10px;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid #eee;
        }
      }
    }
  }
}
