@use "../../styles/mixins.scss";

.box {
  display: flex;
  flex-direction: column;
  @include mixins.breakpoint(sm) {
    width: 220px;
  
  }
  @include mixins.component-margin-padding;

  &__description {
    @include mixins.component-description;
  }
}
